<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jukebox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-row class="ion-justify-content-center fade-in">
    <ion-col>
      <div class="jukebox bg-dark">
        <div class="ion-justify-content-center">
          <ion-row>
            <ion-col size-md="3" offset-md="3">
              <img src="../../../assets/music-beidou.png" width="200" height="200" class="img-fluid">
            </ion-col>
            <ion-col size-md="3" offset-md="">
              <img src="../../../assets/music-venti.png" width="200" height="200" class="img-fluid">
            </ion-col>
          </ion-row>
          <div class="align-self-center" style="margin-bottom: 15px;">
            <ion-icon (click)="previous()" name="play-skip-back-outline" class="navigation-button controls" ></ion-icon>
            <ion-icon (click)="next()" name="play-skip-forward-outline" class="navigation-button controls"></ion-icon><br/><br/>
            <ion-icon (click)="seekBackward()" name="play-back-outline" class="navbutton2 controls"></ion-icon>
            <ion-icon (click)="pause()" *ngIf="!isPaused" name="pause-outline" class="navbutton2 controls"></ion-icon>
            <ion-icon (click)="pause()" *ngIf="isPaused" class="navbutton2 controls" slot="icon-only" name="play-outline" button></ion-icon>
            <ion-icon (click)="seekForward()" name="play-forward-outline" class="navbutton2 controls"></ion-icon>
          </div>
        </div>
        {{nameCurrentTrack}}
        <div class="navigation-buttons text-center" style="margin-bottom: 15px;">
          <span>{{ currentTime }}</span>/<span>{{ getTotalDuration() }}</span>
        </div>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="6">
          <ion-progress-bar style="height: 8px;" color="skyblue" [value]="progress / 100" class="ion-text-center"></ion-progress-bar>
          </ion-col>
        </ion-row>     
        <hr>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="6">
              <ion-list style="height: 250px; overflow-y: auto;">
                <ng-container *ngFor="let track of audioLinks">
                  <button style="margin-bottom: 10px;" (click)="changeTrack(track.id)" class="track-button btn-block"
                    [ngClass]="{'active': currentTrack === track.id}">{{ track.titre }}</button>
                </ng-container>
              </ion-list>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
  
    <div class="jukebox" style="display: none;">
      <h2>Jukebox</h2>
      <youtube-player #player [videoId]="currentTrack" [height]="500" [width]="500"
        suggestedQuality="highres"></youtube-player>
    </div>
</ion-content>
