.jukebox {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 12px;
    color: #fff;
  }
  
  .track-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .track-button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    background-color: #20374c;
  }
  
  .track-button:hover {
    background-color: rgb(43, 170, 229);
  }
  .track-button.active {
    background-color: rgb(43, 170, 229);
  }
  
  .youtube-player {
    overflow: hidden;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .navigation-button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    background-color: #20374c;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 8px;
  
    min-width: 80px;
    min-height: 30px;
  }

  .navbutton2 {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    background-color: #20374c;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 8px;
    width: 25px;
    height: 55px;
}

  
  
  
  .navigation-button:hover {
    background-color: #777;
  }
  
  
  .progress-bar {
    width: 50%;
    height: 10px;
    background-color: #f0f0f0;
    margin-top: -30px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress {
    width: 0;
    height: 100%;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
  }
  
  img{
    z-index: 50;
  }
  
  .controls:hover{
    background-color: rgb(43, 170, 229);
  }