<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Armes</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only"name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="ion-text-center">Armes</h1>

  <ion-segment (ionChange)="segmentChanged($event)" [scrollable]="true" value="All" class="weaponsIcons">
    <ion-segment-button value="All">
      <span style="font-size: 45px;margin-bottom: 5px;">★</span>
    </ion-segment-button>
    <ion-segment-button value="Epée">
      <ion-img src="../../../assets/sword.webp"></ion-img>
    </ion-segment-button>
    <ion-segment-button value="Claymore">
      <ion-img src="../../../assets/2hsword.webp"></ion-img>
    </ion-segment-button>
    <ion-segment-button value="Lance">
      <ion-img src="../../../assets/spear.webp"></ion-img>
    </ion-segment-button>
    <ion-segment-button value="Arc">
      <ion-img src="../../../assets/bow.webp"></ion-img>
    </ion-segment-button>
    <ion-segment-button value="Catalyseur">
      <ion-img src="../../../assets/catalyseur.webp"></ion-img>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="armes" class="ion-text-center">
    <ion-row class="ion-align-items-center ion-justify-content-center ion-align-items-stretch">
      <ion-col size-xs="6" size-md="3" size-xl="2" *ngFor="let arme of armesFiltered">
        <ion-card (click)="onDetail(arme.nom)" class="fade-in custom-card" button>
          <ion-img class="image-container" [src]="'data:image/jpeg;base64,' + arme.image"></ion-img>
          <ion-card-content>
            <p class="ion-text-center" style="margin-bottom: 10px;">{{ arme.nom }}</p>
            <p><span class="rarete star ion-text-center">{{ arme.rarete | star }}</span></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
