<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Regions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-lg="5" offset-lg="1">
          <div class="image-container">
            <h3 style="color:#1ed4cb;">Mondstadt</h3>
            <ion-img src="../../../assets/Mondstadt.webp"></ion-img>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-lg="5">
          <div class="image-container">
            <h3 style="color:#dad605;">Liyue</h3>
            <ion-img src="../../../assets/Liyue.webp"></ion-img>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-lg="5" offset-lg="1">
          <div class="image-container">
            <h3 style="color:#8a45e6;">Inazuma</h3>
            <ion-img src="../../../assets/Inazuma.webp"></ion-img>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-lg="5">
          <div class="image-container">
            <h3 style="color:#29cc36;">Sumeru</h3>
            <ion-img src="../../../assets/Sumeru.jpg"></ion-img>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-lg="4" offset-lg="4">
          <div class="image-container" style="margin-bottom: 5px;">
            <h3 style="color:#356dd6;">Fontaine</h3>
            <ion-img src="../../../assets/Fontaine.jpg"></ion-img>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
