// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #df6919;
	--ion-color-primary-rgb: 223,105,25;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #c45c16;
	--ion-color-primary-tint: #e27830;

	--ion-color-secondary: #4e5d6c;
	--ion-color-secondary-rgb: 78,93,108;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #45525f;
	--ion-color-secondary-tint: #606d7b;

	--ion-color-tertiary: #5260ff;
	--ion-color-tertiary-rgb: 82,96,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4854e0;
	--ion-color-tertiary-tint: #6370ff;

	--ion-color-success: #5cb85c;
	--ion-color-success-rgb: 92,184,92;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #51a251;
	--ion-color-success-tint: #6cbf6c;

	--ion-color-warning: #ffc107;
	--ion-color-warning-rgb: 255,193,7;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0aa06;
	--ion-color-warning-tint: #ffc720;

	--ion-color-danger: #d9534f;
	--ion-color-danger-rgb: 217,83,79;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #bf4946;
	--ion-color-danger-tint: #dd6461;

	--ion-color-light: #abb6c2;
	--ion-color-light-rgb: 171,182,194;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #96a0ab;
	--ion-color-light-tint: #b3bdc8;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-dark: #20374c;
	--ion-color-dark-rgb: 32,55,76;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #1c3043;
	--ion-color-dark-tint: #364b5e;

}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #df6919;
    --ion-color-primary-rgb: 223,105,25;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #c45c16;
    --ion-color-primary-tint: #e27830;
  
    --ion-color-secondary: #4e5d6c;
    --ion-color-secondary-rgb: 78,93,108;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #45525f;
    --ion-color-secondary-tint: #606d7b;
  
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82,96,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
  
    --ion-color-success: #5cb85c;
    --ion-color-success-rgb: 92,184,92;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #51a251;
    --ion-color-success-tint: #6cbf6c;
  
    --ion-color-warning: #ffc107;
    --ion-color-warning-rgb: 255,193,7;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0aa06;
    --ion-color-warning-tint: #ffc720;
  
    --ion-color-danger: #d9534f;
    --ion-color-danger-rgb: 217,83,79;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 0,0,0;
    --ion-color-danger-shade: #bf4946;
    --ion-color-danger-tint: #dd6461;
  
    --ion-color-light: #abb6c2;
    --ion-color-light-rgb: 171,182,194;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #96a0ab;
    --ion-color-light-tint: #b3bdc8;
  
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
  
    --ion-color-dark: #20374c;
    --ion-color-dark-rgb: 32,55,76;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1c3043;
    --ion-color-dark-tint: #364b5e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #0f2537;

    --ion-card-background: #20374c;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #0f2537;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #0f2537;

    --ion-toolbar-background: #20374c;

    --ion-tab-bar-background: #1f1f1f;
    --ion-card-background: #20374c;
  }
}

html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

// :root{
//   content: "";
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -9999;
//   background-image: url('../assets/wall2.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   filter: grayscale(40%) contrast(120%) brightness(90%); 
// }