<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>produits</ion-title>
    <ion-buttons slot="primary" *ngIf="connectedUser && connectedUser.role === 'Admin'">
      <ion-button (click)="openModalCreate('Produit')">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="spinner" class="loader">
    <ion-spinner name="dots" color="primary"></ion-spinner>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let produit of produits" size-xs="12" size-xl="4" class="ion-align-self-center custom-list">
        <ion-item-sliding #slidingProduits>
          <ion-item (click)="openModal(produit)" class="custom-item" button detail>
            <ion-img [src]="'data:image/jpeg;base64,' + produit.icone"></ion-img>
            <ion-label>
              <ion-text>{{produit.nom}}</ion-text>
            </ion-label>
          </ion-item>
          <ion-item-options side="end" *ngIf="connectedUser?.role === 'Admin'">
            <ion-item-option color="tertiary">
              <ion-icon (click)="sliding(slidingProduits)" slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger">
              <ion-icon (click)="sliding(slidingProduits)" slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
          
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>