<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<ion-list>
  <ion-item (click)="openModal(produit)" button *ngFor="let produit of produits" class="custom-item" detail>
    <ion-img [src]="'data:image/jpeg;base64,' + produit.icone"></ion-img>
    <p>{{produit.nom}}</p>
  </ion-item>
</ion-list>
</ion-content>
