<ion-header>
  <ion-toolbar>
    <ion-title>{{produit.nom}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row class="mt">
      <ion-col class="ion-align-items-center">
        <ion-img class="custom-img" [src]="'data:image/jpeg;base64,' + produit.icone"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="mt">
      <ion-col>
        <p>Rareté : <span class="star" style="font-size: 30px;">{{produit.rarete | star}}</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="mt">
      <ion-col>
        <p>Source : {{produit.source}}</p>
      </ion-col>
    </ion-row>
    <ion-button class="ion-text-center mt" fill="outline" expand="block" (click)="onCancel()">Back</ion-button>
  </ion-grid>
</ion-content>